/* Stylesheet by */


html,
body,
#container {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body {
    /* height of .navbar, customize with @navbar-height variable */
    padding-top: 50px;
}

.navbar {
    min-height: 50px;
}

.navbar-default {
    background-color: #3E606F;
    border: none;
}

.navbar .navbar-brand {
    color: whitesmoke;
}

#sidebar {
    float: left;
    height: 100%;
    max-width: 100%;
    width: 150px;
    padding-left: 1%;
}

#mapid {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: auto;
}

.sidebar-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
}

@media (max-width: 767px) {
    #sidebar {
        display: none;
    }
}


.btn-outline-primary {
    background-color: transparent;
    border-color: transparent;
}

#features .panel-info p {
    margin: 0px 0px 0px 0px;
}
